@import '../../../ui/App.scss';

.home-page{
    
    .home-page-container{
        .home-page-container-cards{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}